html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2, a {
  font-family: "Patua One", sans-serif;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: box1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "box1 box1"
    "box2 box2";
  grid-gap: 1rem;
  padding: 1rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main {
  grid-area: box2;
  display: flex;
  grid-gap: 1rem;
}

.logo {
  width: 14rem;
  z-index: 1;
  grid-column: 1;
  grid-row: 2;
  align-self: flex-end;
  margin: 1rem;
}

nav {
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-start;
}

h2 {
  color: #30658d;
}

a {
  color: #fff;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

p {
  font-family: serif;
}

figure {
  width: 100%;
  margin: 0;
}
