html {
  box-sizing: border-box;
  background-color: #ccc;
  /* ^ to see light text better temporarily ^ */
  font-family: "Patua One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  line-height: 1.5;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -2;
}

.logo {
  width: 14rem;
}

h2 {
  color: #30658d;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-family: serif;
}
