html {
  box-sizing: border-box;
  background-color: #ccc;
  /* ^ to see light text better temporarily ^ */
  font-family: "Patua One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "box1 box1"
    "box1 box1"
    "box2 box3";
}

.pano {
  grid-area: box1;
}

main:first-child {
  grid-area: box2;
}

main:last-child {
  grid-area: box3;
}

.logo {
  width: 14rem;
  grid-area: box1;
  z-index: 1;
}

nav {
  grid-area: box1;
  z-index: 1;
}

h2 {
  color: #30658d;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-family: serif;
}
